* {
  font-family: sans-serif; }

.camera {
  border: 4px solid #888;
  border-radius: 12px;
  height: calc(70px * 1.8);
  left: calc(50% - 1.15 * 70px);
  position: relative;
  top: 23.5vh;
  width: calc(70px * 2.8); }
  .camera button {
    border: 2px solid #888;
    border-radius: 10px;
    height: 20px;
    outline: 0;
    position: absolute;
    right: 20px;
    top: 15px;
    transition: transform .35s step-start;
    width: 20px; }
    .camera button.wide {
      transform: rotate(0deg); }
    .camera button.medium {
      transform: rotate(45deg); }
    .camera button.narrow {
      transform: rotate(90deg); }
    .camera button::before {
      background-color: #555;
      border-radius: 1px;
      content: '';
      height: 5px;
      left: calc(50% - .5px);
      opacity: .8;
      position: absolute;
      top: 1px;
      width: 1px; }

.outer {
  border: 5px solid #888;
  border-radius: calc(70px + 5px);
  content: '';
  height: calc(70px * 2);
  left: calc(50% - 70px - 5px - 20px);
  position: absolute;
  top: calc(-5px - 1px);
  transform: scale(0.6);
  width: calc(70px * 2); }

.inner {
  border-radius: 70px;
  content: '';
  height: calc(70px * 2);
  left: calc(50% - 70px - 20px);
  overflow: hidden;
  position: absolute;
  top: -1px;
  transform: scale(0.5);
  width: calc(70px * 2); }
  .inner .triangle:nth-child(1) {
    align-items: flex-end;
    bottom: 0;
    display: flex;
    height: 70px;
    left: calc(50% - 90px);
    position: absolute;
    transform: rotate(60deg);
    transform-origin: center top; }
    .inner .triangle:nth-child(1).wide::after {
      transform: rotate(-32deg); }
    .inner .triangle:nth-child(1).medium::after {
      transform: rotate(-22deg) scale(1.1); }
    .inner .triangle:nth-child(1).narrow::after {
      transform: rotate(-10deg) scale(1.17); }
    .inner .triangle:nth-child(1)::after {
      border-bottom: calc(90px * 1.73205) solid #555;
      border-left: 90px solid transparent;
      border-right: 90px solid transparent;
      content: '';
      display: block;
      height: 0;
      margin-bottom: -105px;
      transform-origin: center center;
      transition: transform 0.3s cubic-bezier(0, 0, 0, 0.9);
      width: 0; }
  .inner .triangle:nth-child(2) {
    align-items: flex-end;
    bottom: 0;
    display: flex;
    height: 70px;
    left: calc(50% - 90px);
    position: absolute;
    transform: rotate(120deg);
    transform-origin: center top; }
    .inner .triangle:nth-child(2).wide::after {
      transform: rotate(-32deg); }
    .inner .triangle:nth-child(2).medium::after {
      transform: rotate(-22deg) scale(1.1); }
    .inner .triangle:nth-child(2).narrow::after {
      transform: rotate(-10deg) scale(1.17); }
    .inner .triangle:nth-child(2)::after {
      border-bottom: calc(90px * 1.73205) solid #555;
      border-left: 90px solid transparent;
      border-right: 90px solid transparent;
      content: '';
      display: block;
      height: 0;
      margin-bottom: -105px;
      transform-origin: center center;
      transition: transform 0.3s cubic-bezier(0, 0, 0, 0.9);
      width: 0; }
  .inner .triangle:nth-child(3) {
    align-items: flex-end;
    bottom: 0;
    display: flex;
    height: 70px;
    left: calc(50% - 90px);
    position: absolute;
    transform: rotate(180deg);
    transform-origin: center top; }
    .inner .triangle:nth-child(3).wide::after {
      transform: rotate(-32deg); }
    .inner .triangle:nth-child(3).medium::after {
      transform: rotate(-22deg) scale(1.1); }
    .inner .triangle:nth-child(3).narrow::after {
      transform: rotate(-10deg) scale(1.17); }
    .inner .triangle:nth-child(3)::after {
      border-bottom: calc(90px * 1.73205) solid #555;
      border-left: 90px solid transparent;
      border-right: 90px solid transparent;
      content: '';
      display: block;
      height: 0;
      margin-bottom: -105px;
      transform-origin: center center;
      transition: transform 0.3s cubic-bezier(0, 0, 0, 0.9);
      width: 0; }
  .inner .triangle:nth-child(4) {
    align-items: flex-end;
    bottom: 0;
    display: flex;
    height: 70px;
    left: calc(50% - 90px);
    position: absolute;
    transform: rotate(240deg);
    transform-origin: center top; }
    .inner .triangle:nth-child(4).wide::after {
      transform: rotate(-32deg); }
    .inner .triangle:nth-child(4).medium::after {
      transform: rotate(-22deg) scale(1.1); }
    .inner .triangle:nth-child(4).narrow::after {
      transform: rotate(-10deg) scale(1.17); }
    .inner .triangle:nth-child(4)::after {
      border-bottom: calc(90px * 1.73205) solid #555;
      border-left: 90px solid transparent;
      border-right: 90px solid transparent;
      content: '';
      display: block;
      height: 0;
      margin-bottom: -105px;
      transform-origin: center center;
      transition: transform 0.3s cubic-bezier(0, 0, 0, 0.9);
      width: 0; }
  .inner .triangle:nth-child(5) {
    align-items: flex-end;
    bottom: 0;
    display: flex;
    height: 70px;
    left: calc(50% - 90px);
    position: absolute;
    transform: rotate(300deg);
    transform-origin: center top; }
    .inner .triangle:nth-child(5).wide::after {
      transform: rotate(-32deg); }
    .inner .triangle:nth-child(5).medium::after {
      transform: rotate(-22deg) scale(1.1); }
    .inner .triangle:nth-child(5).narrow::after {
      transform: rotate(-10deg) scale(1.17); }
    .inner .triangle:nth-child(5)::after {
      border-bottom: calc(90px * 1.73205) solid #555;
      border-left: 90px solid transparent;
      border-right: 90px solid transparent;
      content: '';
      display: block;
      height: 0;
      margin-bottom: -105px;
      transform-origin: center center;
      transition: transform 0.3s cubic-bezier(0, 0, 0, 0.9);
      width: 0; }
  .inner .triangle:nth-child(6) {
    align-items: flex-end;
    bottom: 0;
    display: flex;
    height: 70px;
    left: calc(50% - 90px);
    position: absolute;
    transform: rotate(360deg);
    transform-origin: center top; }
    .inner .triangle:nth-child(6).wide::after {
      transform: rotate(-32deg); }
    .inner .triangle:nth-child(6).medium::after {
      transform: rotate(-22deg) scale(1.1); }
    .inner .triangle:nth-child(6).narrow::after {
      transform: rotate(-10deg) scale(1.17); }
    .inner .triangle:nth-child(6)::after {
      border-bottom: calc(90px * 1.73205) solid #555;
      border-left: 90px solid transparent;
      border-right: 90px solid transparent;
      content: '';
      display: block;
      height: 0;
      margin-bottom: -105px;
      transform-origin: center center;
      transition: transform 0.3s cubic-bezier(0, 0, 0, 0.9);
      width: 0; }

.info {
  position: fixed;
  right: 1rem;
  top: 1rem; }
  .info::before {
    color: #a2a2a2;
    content: '16';
    display: inline-block;
    font-size: 1.5rem;
    transform: scale(1); }
  .info.wide::before {
    animation: wide 0.35s cubic-bezier(0, 0, 0, 0.9) forwards; }

@keyframes wide {
  0% {
    content: "2.8";
    opacity: 1;
    transform: scale(1); }
  50% {
    opacity: 0;
    transform: scale(0); }
  100% {
    content: "16";
    transform: scale(1); } }

@keyframes wide {
  0% {
    content: "2.8";
    opacity: 1;
    transform: scale(1); }
  50% {
    opacity: 0;
    transform: scale(0); }
  100% {
    content: "16";
    transform: scale(1); } }
  .info.medium::before {
    animation: medium 0.35s cubic-bezier(0, 0, 0, 0.9) forwards; }

@keyframes medium {
  0% {
    content: "16";
    opacity: 1;
    transform: scale(1); }
  50% {
    opacity: 0;
    transform: scale(0); }
  100% {
    content: "10";
    transform: scale(1); } }

@keyframes medium {
  0% {
    content: "16";
    opacity: 1;
    transform: scale(1); }
  50% {
    opacity: 0;
    transform: scale(0); }
  100% {
    content: "10";
    transform: scale(1); } }
  .info.narrow::before {
    animation: narrow 0.35s cubic-bezier(0, 0, 0, 0.9) forwards; }

@keyframes narrow {
  0% {
    content: "10";
    opacity: 1;
    transform: scale(1); }
  50% {
    opacity: 0;
    transform: scale(0); }
  100% {
    content: "2.8";
    transform: scale(1); } }

@keyframes narrow {
  0% {
    content: "10";
    opacity: 1;
    transform: scale(1); }
  50% {
    opacity: 0;
    transform: scale(0); }
  100% {
    content: "2.8";
    transform: scale(1); } }

.link {
  bottom: 10px;
  font-size: 14px;
  position: fixed;
  right: 16px; }
  .link a {
    color: #ea4c89;
    text-decoration: none; }
    .link a:visited {
      color: #ea4c89; }
